body {
    background: #cbf3f1;
}

aside {
    float: left;
    background: #89ffff;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #000000;
    border-right: 5px solid #00c3ffa8
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position:relative ;
    top: +15px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #003cff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #000000 ;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    flowt: left;
    colour: #000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}
